---
export interface Props {
  title: string;
  url?: string;
}

const { title, url } = Astro.props;
---

<li>
  <div class="my-4">
    {
      url ? (
        <a class="gradient-text font-bold text-lg" href={url}>
          {title}
        </a>
      ) : (
        <span class="gradient-text font-bold text-lg">{title}</span>
      )
    }
    <slot />
  </div>
</li>
