---
import "@fontsource/inter/variable.css";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import "~/styles/index.css";
import ContentSection from "~/components/content-section.astro";
import Spacer from "~/components/Spacer.astro";


const { site } = Astro;
const description = "ML@Purdue AIGuide Blog";

---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <meta name="generator" content={generator} /> -->

    <title>ML@Purdue - AIGuide Blog</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="ML@Purdue" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/social.png" />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header fixed />
    <Spacer y={96} />
        <article class="mx-auto mt-20 w-[65vw] max-w-[120ch]">
        <ContentSection id="aiguide-interviews-header" title="AI with Dr. Eugenio Culurciello">
            <h1 class="font-bold text-xl">September 16, 2023</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wRhEPy-0i8k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <h1 class="font-bold text-xl">Transcript</h1>
            <div class="max-h-80 overflow-y-scroll w-[50vw] text-xs" style="color-scheme: dark;">
                <p>Dr. Eugenio Culurciello is a professor at Purdue in the Biomedical Engineering (BME)
                        department. He is also the professor advisor for the ML@Purdue club! He is interested in chips,
                        neuroscience, and neural networks. </p>
                <p>&nbsp;</p>
                <p>Other information:</p>
                <ul class="list-disc list-inside">
                    <li>Github site: <a class="c8"
                                href="http://e-lab.github.io/">http://e-lab.github.io/</a>
                    </li>
                    <li>Medium blogs: <a class="c8"
                                href="https://culurciello.medium.com/">https://culurciello.medium.com/</a>
                    </li>
                </ul>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p> My name is Brian and I am interviewing Eugenio
                        Culurciello.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> Nice to meet you, Brian.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p>&nbsp;Thank you for this interview. Can you explain your background? </p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> So I was actually trained on analog and mix signal
                        chip, micro chip design. I worked in a neuromorphic engineering area at the beginning. So the idea was to
                        figure out how to replicate human abilities in silicon or in artificial technologies. And then later I
                        started working on machine learning and neural networks when I met Yann LeCune. I was at Yale university and
                        he was at NYU. And then we met and we started working together. First, we started developing some micro chip
                        accelerators for deep learning. That was like about 15 years ago. Yeah, it&#39;s and yeah, this area was not
                        really popular. And then, when I joined Purdue in 2011, I continued and my group developed about five
                        generations of machine learning hardware, but we were also developing neural networks models and like my
                        group has been also instrumental in like the beginning of by Torch, which was the precursor of PyTorch.
                    </p>
                <p>So yeah, we work on all these areas. And right now, I&#39;m a professor at Purdue and
                        I work on machine learning and AI, and I try to work on multimodal large model at the moment</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p> I also saw that you taught some deep learning courses
                        here</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> Absolutely. Yeah, actually, ours was the very first
                        deep learning course at Purdue we started 2011, 12. And, it was the early days. And yes, we&#39;ve been
                        teaching deep learning ever, ever since at least once a year.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p> Yeah, I was actually interested in how come the deep
                        learning courses were taught under BME instead of CS?</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> I was, yeah, I was I think under BME because a lot
                        of our work was like taking inspiration from biology, neuroscience and psychology. And, but the final goal
                        was like replicating the human brain in our own software. And when I when I joined here, there was a few
                        people teaching neural networks basic fundamentals, but we were really the first class to teach the most
                        more modern deep learning, including convolutional neural network and so forth. </p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p> Okay, so I wanted to ask you about this, this paper I
                        saw last year. It was called DishBrain and it&#39;s where researchers grew brain cells, and then they teach
                        it to play the video game Pong. Because you have a lot of experience in hardware, I was wondering whether
                        this is a plausible idea in the future, where you use real brain chips, and then these chips are
                        specifically trained for certain tasks.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> I think it would be a good idea also because you
                        know like currently all the machine learning, models that we built is highly inefficient compared to the
                        brain, like on the order of 1000 to 10,000 times less efficient. And so like if you could interface to
                        living and breathing live neural networks that would be awesome. One of the issues there is that we
                        currently don&#39;t have the capability to really interface that a very large number of cells or high
                        throughput. So the input and output is a bit limited. But that said, yeah, I think it could be very, very
                        promising area if we can figure out a way to to grow the right number of electrode to interface with the
                        tissue.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p> Okay, so it might be hard to like add a like image
                        sensor or something like directly to this brain shape, I guess</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> Yeah, I think that the problem is the number of, you
                        know, in the brain, like maybe in a millimeter cube you have hundreds of thousands of cells right? But in
                        terms of like a physical connection we couldn&#39;t have that many, right? There&#39;s probably a million of
                        connection in there, but we can have the right, you know, the very large number of connection also, or all
                        the connection that we have with from computers to biology like using some kind of electrical wires and they
                        usually living cells don&#39;t usually like that that they reject that and that&#39;s also a problem for
                        wearable technology that are invasive and it&#39;s it&#39;s always been a bit of a problem. I don&#39;t
                        really know how to solve it at the moment, but yeah, there&#39;s many colleagues here who work in that area
                        also.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p> Okay. My next question. So, what do you think about
                        the embodied Turing test, where instead of judging an AI based on how we can mimic human intelligence, you
                        judge it based on how good it is at doing certain animal related tasks. For example, an artificial beaver
                        building a realistic dam. And do you think this approach is more promising than current methods focus on
                        focusing on like, you know, like linguistic simulation</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> Yeah, I honestly, you know, yeah, honestly, I agree
                        with that like I really think that you know, we don&#39;t have a definition of necessarily what is this sort
                        of an entity or what is another entity, you know, what is constitutes a cat and what is different from a dog
                        or what really constitutes a human being, because there&#39;s so many levels there and we don&#39;t really
                        have a formula for it. So I think that the best way for us to say whether artificial system is close to a
                        real one is just, it&#39;s really what it can do. If you can do the same thing then functionally they might
                        be equivalent. But you know, that also, you can&rsquo;t possibly test all possible things that one entity
                        can do, because there are infinite possible combinations so you&#39;ll have to somehow there has to be some
                        some kind of a test and I don&#39;t know what that is even, even recently with it is a large language model,
                        you know, people are just started scratching the surface and they call possible there are no possible tests
                        on these on these systems and try to figure out what capability they really have and they don&#39;t really
                        have. And it&#39;s very unclear what what the results are what what you can do what you cannot do and at the
                        end of the day you have to, it&#39;s a bit of a trial and error.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p>&nbsp;Okay, like you just like that&#39;s like you just
                        like keep coming up with some random tasks and you just see if it does well?</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> Yes, I mean, more than random tasks I guess. You
                        know, it&#39;s always like this. You want artificial system is always to do something. So, I guess the idea
                        is, you try to make it do what you want and try to make sure that it can can do more or less the thing, the
                        same thing that a human can so for example, you know autonomous driving right? Even there you have an
                        infinite number of scenario that that you could face the bite while driving a car right whether you&#39;re
                        human or artificial. And so you can&#39;t possibly test all of them. You also can&#39;t possibly train on
                        all of them. So you have to, yeah, you have to test on a lot of conditions and see what the problems are and
                        design the system in a way that is fairly generic and he has a bit of common sense like us. Other than that,
                        I&#39;m not sure if, if one could identify a test I will say okay yes this car is good enough to drive or
                        not. I think we will never have such a test because it&#39;s there&#39;s always possible different
                        conditions right? For example, years ago I was like driving on the road and all of a sudden I there was a
                        ladder like blocking my entire lane.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p>&nbsp;A ladder?</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> A ladder, yeah like a ladder that you walk on. And
                        it was like pretty tall and I mean first of all you would have to recognize it and then you have to figure
                        out what to do and my all the lanes nearby were like completely filled with cars and so I had to decide okay
                        should I just break or should I go over it and if I go over it my prediction was okay all my tires are gonna
                        pop. So you see my point my point is I run over it and nothing happened and the point is sometimes
                        there&#39;s so many different possible cases. One time I was in Baltimore driving on the highway and some
                        some some guy jumped off from the other lane and run through. I mean it was just all sorts of crazy things
                        can happen on the road. I mean you could find a crater at some point a bridge that is interruppted you know
                        it&#39;s all sorts of things so. So I don&#39;t think you test all these cases, right? So I&#39;m not sure
                        that there is for for for leaving things that have infinite possible action if you infinite possible
                        scenarios in the environment I don&#39;t think there will ever be a test that can test that all their
                        capabilities honestly just by the sheer number of possibilities. You know it&#39;s the same for you right so
                        when you go and take a driving test, what do they test? They test okay a little bit of your abilities. But
                        it&#39;s just like a tiny subset you know 0.1 percent of what you&#39;ll ever encounter even normally. Yeah
                        so and then they say yeah you&#39;re ready to drive. So I guess artificial system we usually hold them to a
                        higher standards you know, where you&#39;re right. Which is you know good and bad but that&#39;s because we
                        you know we kind of have an idea statistically what a human can do. You know, on the road and where you give
                        him a driving license but we don&#39;t have a statistical idea what a machine can do so. The point is you
                        have to test a lot and at some point you&#39;ll have the same kind of statistics and you&#39;ll be okay with
                        that maybe.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p>&nbsp;So I saw that you had a medium blog and you have
                        lots of blog articles. So I read through some of them, and in one of your articles, you mentioned that
                        transformers are really close to universal neural networks and can handle lots of different types of data
                        such as vision, text, speech and so on. So do you think this is close to the final neural network
                        architecture</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> Yeah I think so honestly like at the beginning at
                        the beginning of your like let&#39;s say like 10, 15 years ago people were pretty happy by crafting neural
                        networks and running it on some data and training it. But it was really hard to scale up and continue to
                        learn different modalities and I think we spend way too much time focusing on creating data sets and
                        creating custom neural networks for a specific data set. But at the same time people are looking for a swiss
                        army knife of neural networks. And one such network could be the transformer architecture, which really
                        surprised us you know honestly just in the last couple of years the capabilities that you know, all the data
                        you can do and learn when scaled up even with these very simple learning techniques like predictive learning
                        right? So I would say yeah that&#39;s like a really good. We&#39;re scratching the surface of it on what you
                        know what the real artificial brain could be. I think we have to embody it and give it more senses and train
                        multimodal and then try to figure out what can you learn, right? And we also need to figure out this
                        continual learning capabilities now how much you can continue to learn and learn online. But I think
                        it&#39;s, I would say now it&#39;s more exciting that five years ago. Five years ago it looked like we were
                        doing the same things over and over and now it&#39;s, it looks like we have foundational models that can do
                        much much more and so it&#39;s exciting. I hope, you know, I think by trial and error we will keep looking
                        and try to find something that can model our brain. And that said we&#39;re still like 1000s of time away
                        from terms of efficiency. The capabilities are getting better but also, you know, hasn&#39;t been really
                        used in robotics as much and it hasn&#39;t really improved in the physical world. So I think there&#39;s
                        still a lot of work to do. It&#39;s a never ending story. But it&#39;s exciting.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p> Okay, so in another medium article that you wrote, you
                        mentioned spiking neural networks, and those try to actually simulate the spiking in real neurons right and
                        that seems like a step towards combining more neuroscience to AI. But at the same time, I know that those
                        networks, they still rely on back propagation, which is not very neuroscience realistic. So in the future,
                        do you expect that AI will continue to look almost one to one, like a real human brain to an AI, or do you
                        think there will still be a combination of like engineering where you just just see whatever works?
                </p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> Yeah, I think there&#39;s going to be a, you know,
                        quite a few heuristics but you know the bottom line is that artificial system based on silicon are very
                        different from biological neural network right? So biological neural network, which are great I mean they
                        allow us to do all these things. But they have a fundamental problem which is that electricity doesn&#39;t
                        conduct very well within our body right in a physiological solution. And so they only have, they can only
                        transmit the pulses and over short channels I mean some channels are pretty long like from our brain all the
                        way to the spinal cord is like a meter long right? But in general they use this spiking because the problem
                        is you need to constantly reconstruct the signal that would dissipate otherwise. But in silicon we can make
                        really good wires right, but in biology, you can have lots of wires in a very, very small area. In silicon
                        we can&#39;t. We can only make like a few layers of wires and the density is very low. So things are
                        different. But I think, and also there&#39;s much to learn because in, like in artificial neural network,
                        &nbsp;you can do back propagation over many layers, you know, because you can look at the very small
                        differences across many layers right in biology you know the noise is so high and you can only go from layer
                        to layer. So, I think, you know, in artificial neural networks we still have to learn how to scale up the
                        layer by layer learning. I don&#39;t know that might be more efficient. I&#39;m not sure. Maybe that&#39;s
                        one of the ingredients of efficiency in the brain or maybe it&#39;s not. Maybe it turns out that artificial
                        networks with back propagation are much more efficient or because you propagate the signal very, very, very
                        easily and you can train them faster. I don&#39;t know if we know the answer to those questions. So
                        we&#39;ll have to, we&#39;ll have to look at it and learn more and try things. I guess it is also we&#39;re
                        stuck. Yeah, also like biology stuck with the the own substrate chemical biochemical substrate and we&#39;re
                        stuck with the silicon chips right? Maybe there&#39;s another medium that would create better brains -
                        artificial brains. But yeah, that&#39;s what we have right now. And so yeah, it&#39;s not, we can&rsquo;t
                        answer those questions I guess right now, you know, people will still try to investigate these
                        issues.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p> So this interview is more oriented
                        towards beginners, like in the club. I wanted to ask you, do you have any advice for students interested in
                        AI?</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> Absolutely. Yeah. Well, I think it&#39;s, you know,
                        honestly, it&#39;s a really great time today because of the internet and all the code and example and things
                        that we can share. I think really what what a person needs is mostly drive. Like at any level, like if you
                        think if you want to learn there&#39;s so much material but you, you shouldn&#39;t be discouraged and you
                        have to figure out a way to learn step by step maybe by there&#39;s so many courses and so many levels in
                        machine learning that I think you can, you know, anyone can can pick it up. And one of the issues of course
                        also is need to learn programming a little bit. I would say you know, you start with the Python class or
                        something like that and then you move on to some simple, simple class or simple tutorials on machine
                        learning and then I think the next step is to jump into some nice project that you like. You see that this
                        is a ML@Purdue group is really awesome because it allows you to form a group and learn from each other and
                        do things together which keep you excited and motivated. So I think yeah, like if you&#39;re someone that
                        already joined such a group or similar group anywhere and you have a passion you can learn really easily and
                        you, honestly, you don&#39;t even, you don&#39;t need a university. You don&#39;t need a teacher you
                        don&#39;t need a professor. A lot of the stuff you can go on your own which is nice and also scary and you
                        just, you need a lot of passion, I think that&#39;s all. That&#39;s true for everything almost you know, but
                        there&#39;s some things that it&#39;s hard to learn like I can&#39;t learn about nuclear power plant unless
                        I work in one right? But machine learning, oh, gosh, just need a laptop. So it&#39;s so much easier
                </p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p> Yeah, I mean, just watching Youtube videos, I
                        guess</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p>&nbsp;Oh my god&nbsp;there&#39;s so much
                        knowledge in there, right that you can learn from really awesome people and I do it too, you know, I often
                        like listen to lectures and ideas online and people I never met and it&#39;s really awesome. Yeah, I mean
                        it&#39;s just all you need is like some area that you&#39;re interested in and just to try to go deep deep
                        solve all the problems more problems. There&#39;s always a problem to solve. And if you don&#39;t know you
                        ask a group like even on GitHub there&#39;s there&#39;s amazing projects and you can join them and say what
                        are the problems you&#39;re trying to solve and help them out. That&#39;s an awesome way to learn. And you
                        can do that on your own on your laptop anywhere where you are so it&#39;s really great.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p></p>
                <p>Yeah, I mean, on GitHub nowadays like everything that&#39;s trending is just some AI
                        model or something</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p>&nbsp;Yes</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p></p>
                <p>Okay, my last question. So I know this, you might be a little biased, but do you
                        think AI is just hype, like blockchain or like NFTs?</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p>&nbsp;Yes. Well, AI is hype because I
                        mean even you and I talk about AI now. I don&#39;t even like the term match because everything that
                        we&#39;re doing so far is mostly machine learning. You know? It&#39;s like some basic learning algorithm.
                        Maybe we&#39;re getting more into it now because we have this large foundational model, but I would say AI
                        really starts when you have like a robot and you&#39;re trying to do something in the real world and
                        constrained. And yeah, so I think we still need to do it. I think we don&#39;t know. I mean, definitely it
                        would play a role but AI in the sense of machine learning neural net or deep learnings. But I think we need
                        to do more work in robotics, you know, and because we&#39;re still behind so like even with all this
                        algorithm, we don&#39;t have good algorithm to be able to grasp any kind of object or navigating an
                        environment and there&#39;s still, we still don&#39;t know how to learn all these things. We still don&#39;t
                        know how to learn multimodal integration in a robot that you have different sensors it keep learning and
                        keep training and so I think that&#39;s an area that probably needs to evolve. But yes, if you know, if AI
                        or what you want to call it now, it&#39;s going to empower this robot and I think it&#39;ll change the world
                        for sure because we&#39;ll have like artificial entities that are, you know, as good or able as us or
                        better. They could do lots of other things right there we cannot do. For example, we could send them to
                        explore the universe because they live forever. They can live forever or they can replicate somewhere else.
                        And maybe we won&#39;t even be able to know what they find out because our life is much so much shorter
                        right and so much constrained by where we live in this planet and where we can reach in the short time we
                        live</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p> I was, when you were talking about robotics and AI, I
                        was like thinking about those food robots around campus. We&rsquo;re going to see like 10 times more of that
                        or something like we&#39;re just going to see some robots delivering like like I don&#39;t know refrigerator
                        or something.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p>&nbsp;No, that&#39;s right. Yeah, I mean those things
                        cannot, you know, walk up the stairs or open the door and give things to you. But soon we will be able to do
                        that. So that&#39;s great</p>
                <p>And I just hope that we&#39;ll be able to program them and make sure that they only
                        work for a good cause.</p>
                <p>&nbsp;</p>
                <p class="font-bold">Brian:</p><p> Thank you so much for the time</p>
                <p>&nbsp;</p>
                <p class="font-bold">Eugenio:</p><p> Okay, so it&#39;s been a pleasure to talk to
                        you</p>
                <p>Yes, and you need anything</p>
                <p>Contact me again</p>
                <p>Okay, yeah</p>
                <p>&nbsp;</p>
            </div>
        </ContentSection>
    </article>
    <Footer />
  </body>
</html>
