---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div class="flex flex-col w-full">
  <h2 class="gradient-text font-extrabold tracking-tight text-3xl">
    <slot name="name" />
  </h2>
  <span class="capitalize text-lg">{title}</span>
</div>
<p class="max-w-xl text-center font-extrabold text-2xl">
  <slot />
</p>
