---
import "@fontsource/inter/variable.css";
import ContentSection from "~/components/content-section.astro";
import Spacer from "~/components/Spacer.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import "~/styles/index.css";

const { site } = Astro;
const description = "ML@Purdue Website";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <meta name="generator" content={generator} /> -->

    <title>ML@Purdue - Events</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="ML@Purdue" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/social.png" />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white">
    <Header fixed />
    <article class="mx-auto mt-20 w-[90vw] max-w-[80ch]">
    <Spacer y={96} />
    <ContentSection id="eventsarchive" title="Events Archive">
        <p>This page contains information and recordings from past ML@Purdue events. For upcoming events, please see the <a class="underline" href='/events'>events page</a>.</p>
    </ContentSection>
    <Spacer y={48} />
    <ContentSection id="workshops" title="Beginner Workshops">
  
        <h1 class="font-bold text-xl text-center">Workshop Materials</h1>
        <ul class="items-center	flex justify-center flex-col">
        <li>February 22, 2023 (Wednesday) - Python Basics</li>

        <li><a class="underline" href="https://colab.research.google.com/drive/1la__JicHrGPRzM4RLunk1yT9DF-5bA9B?usp=sharing">Student</a></li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/15pZZPOvwtCHjzGapsIdv5EHumAOLQu3U?usp=sharing">Instructor</a></li>

        <li>March 1, 2023 (Wednesday) - Libraries</li>

        <li><a class="underline" href="https://colab.research.google.com/drive/1jEBFHI08iKP7IV9z7QE_Zt0N5hokEmg5?usp=sharing">Student</a></li>

        <li><a class="underline" href="(https://colab.research.google.com/drive/1L84KUTlZW13B6EXlJJga1W6ZXmybJz8C?usp=sharing">Instructor</a></a></li>
        
        <li>March 15, 2023 (Wednesday) - NumPy</li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/1Hf5c4Z9dH8nJyQq7ZS6kXJQw0t8dD5hj?usp=sharing">Student</a></li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/1L84KUTlZW13B6EXlJJga1W6ZXmybJz8C?usp=sharing">Instructor</a></li>
        
        <li>March 29, 2023 (Wednesday) - Pandas</li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/1yXJZy3s6j1dC6N3n6Hh9i7GwvJ2cGQbE?usp=sharing">Student</a></li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/1n6B9o5jz9p0sQ1gJc0k2BjgGgI1PZg6Q?usp=sharing">Instructor</a></li>
        
        <li>April 5, 2023 (Wednesday) - Matplotlib</li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/1l2G0LhKsW2aX6y0m4K5k4f1J3uYnNc4F?usp=sharing">Student</a></li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/1yXJZy3s6j1dC6N3n6Hh9i7GwvJ2cGQbE?usp=sharing">Instructor</a></li>

        <li><a class="underline" href="https://www.youtube.com/watch?v=k2CRjnNqDow">Recording</a></li>

        <li>March 8, 2023 (Wednesday) - Linear Regression</li>

        <li><a class="underline" href="https://colab.research.google.com/drive/1APq9IvnUVZtKDwxNvnLQzlYQ4wBekBjV?usp=sharing">Student</a></li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/16VsU4U1jCp44Il0ib-F_2-xN6LRfJSE4?usp=sharing">Instructor</a></li>
        
        <li><a class="underline" href="https://youtu.be/2qsZymyzxKo">Recording</a></li>

        <li>March 22, 2023 (Wednesday) - Logistic Regression with Special Topic (Decision Trees)</li>

        <li><a class="underline" href="https://colab.research.google.com/drive/1wvR-5NplJHqaSkxogPH9TYjA7w01HNRW?usp=sharing">Student</a></li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/17fMjRywUF9idUrTNJr_j2yFSUE4UcOmB?usp=sharing">Instructor</a></li>
        
        <li><a class="underline" href="https://purdue-edu.zoom.us/rec/share/GYByLr1NAAIOHmQ2IrTfvG91htnd0FAiBGfrSkbA368TOozajhMctbHZ-z5Lt1et.iy2ZI2-z68ShfWw-">Recording, Password: K9#xfceX</a></li>

        <li>March 29, 2023 (Wednesday) - Classification (NLP)</li>

        <li><a class="underline" href="https://colab.research.google.com/drive/1WVQXxrZSefdtpWZum58jiTVdXLQ940-H?usp=sharing">Student</a></li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/13q0t90tzX-HxOQkctUXb0lkZty-L9J4g?usp=sharing">Instructor</a></li>

        <li>April 5, 2023 (Wednesday) - Neural Networks</li>

        <li><a class="underline" href="https://colab.research.google.com/drive/17PpjJJOTi7XCJNgSQetexzFTsGLBoWWn?usp=sharing">Student</a></li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/1UlaS5M1RHDF3jd5duWYdGHW3Y37Fqeqj?usp=sharing">Instructor</a></li>
        
        <li><a class="underline" href="https://purdue-edu.zoom.us/rec/share/-Tgm0XOngYuRMklxQ">Recording, Password: u#M%9@n?</a></li>

        <li>April 12, 2023 (Wednesday) - Convolutional Neural Networks</li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/1Gcx_C7UiLd-anDJK4CO1TwfFiBDUyn4D?usp=sharing">Student</a></li>
        
        <li><a class="underline" href="https://colab.research.google.com/drive/1FYNMH9Clu3pX-7oqatRn6Jye21aVn9ys?usp=sharing">Instructor</a></li>
        
        <li><a class="underline" href="https://purdue-edu.zoom.us/rec/share/Qe1XyVKg8h-lOuxOSwngqxV43YcqRpo_pfJmETXCYzj_KecaiabgQC3gTH_fVGo5.WtYB1Nms_RdjB2Xy">Recording, Password: 1D9#BHSM</a></li>
        </ul>
    </ContentSection>
    <Spacer y={48} />
    <ContentSection id="readingroup" title="Reading Group">
        <p>
        The ML@Purdue reading group exists to connect Purdue students to AI/ML leaders in and out of Purdue, and to expose students to different domains in AI/ML! 
        The reading group meets every Tuesday @ 6:30PM to hear from a guest speaker.
        </p>
        
        <p>
        Join the <a href='https://discord.gg/vgSh4wYBEf'>discord</a> for weekly announcements!
        </p>
        
        <a href='https://docs.google.com/spreadsheets/d/16V_z1OMkjYQt22k-bnTAE7bMVVCqj6QBVt9pVhuJ14I/edit#gid=0' class="underline" target='_blank'>
        We are looking for interesting speakers from industry and academia. Sign up here!
        </a>
        
        <h1 class="font-bold text-xl">
        Previous Recordings
        </h1>
        <ul>
        <ul class="items-center	flex justify-center flex-col">
            <li><a class="underline" href="https://youtu.be/HC1TZxZSXgo">AlphaTensor</a></li>
            <li><a class="underline" href="https://youtu.be/bdEn1RISL_0">Magic3D</a></li>
            <li><a class="underline" href="https://youtu.be/MJTcL-n4ZBk">PaLM SayCan</a></li>
            <li><a class="underline" href="https://youtu.be/PmdDPGMQgC8">Groups, Rings, Fields</a></li>
            <li><a class="underline" href="https://youtu.be/P5_7GRgHwL4">Interactive Language - Talking to Robots in Real Time</a></li>
            <li><a class="underline" href="https://youtu.be/Zk7ZopIYE4o">DreamerV3</a></li>
            <li><a class="underline" href="https://youtu.be/uQtp70bTxaE">Program Synthesis</a></li>
            <li><a class="underline" href="https://youtu.be/znJsaCGiu10">Group-Transformation Invariant Neural Networks</a></li>
            <li><a class="underline" href="https://youtu.be/FyqldjNmAwE">Nuerosymbolic Programming</a></li>
            <li><a class="underline" href="https://youtu.be/1KIj7pYfPLk">Editing Models with Task Arithmetic</a></li>
            <li><a class="underline" href="https://youtu.be/Ci5AYzZtNyY">CodeTalker</a></li>
            <li><a class="underline" href="https://youtu.be/BVU2aBfo7uU">OOD Generalization via Risk Extrapolation</a></li>
        </ul>
        </ul>
    </ContentSection>
    </article>   
    <Footer />
  </body>
</html>


