---
import "@fontsource/inter/variable.css";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";

const { site } = Astro;
const description = "ML@Purdue Website";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <meta name="generator" content={generator} /> -->

    <title>ML@Purdue</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="ML@Purdue" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/social.png" />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-10 px-8 pt-20">
      <Intro />
    </div>
    <div
      class="mx-10 flex flex-col items-center justify-center gap-[5px] md:flex-row md:items-start md:gap-12"
    >
      <div
        class="mt-20 -mb-20 flex flex-col items-center text-left md:mb-0 md:items-start"
      >
        <span class="pt-4 font-semibold text-2xl">Contact Us!</span>
        <span class="text-sm"><b>🖂</b> aiml@purdue.edu</span>
      </div>
      <Footer />
    </div>
  </body>
</html>
