---
import { Icon } from "astro-icon";

import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "/",
    description: "ML-Purdue Homepage",
    icon: "mdi:home",
  },
  {
    url: "mailto:aiml@purdue.edu",
    description: "Contact ML@Purdue",
    icon: "heroicons-outline:mail",
  },
  {
    url: "https://discord.gg/KphYQFSVsu",
    description: "ML-Purdue Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://github.com/ML-Purdue",
    description: "View source on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://www.instagram.com/mlpurdue/",
    description: "ML-Purdue on IG",
    icon: "fa-brands:instagram",
  },
  {
    url: "https://www.linkedin.com/company/ml-purdue/",
    description: "ML-Purdue LinkedIn group",
    icon: "fa-brands:linkedin",
  },
];

export interface Props {
  ignoreHome?: boolean;
}
const { ignoreHome = false } = Astro.props;
---

<footer class="relative flex h-64 items-center justify-center">
  <ul
    class=`relative grid grid-cols-4 -ml-${ignoreHome ? 5 : 0} sm:ml-0 gap-2 sm:gap-3 sm:grid-cols-${ignoreHome ? 5 : 6}`
  >
    {
      links.slice(ignoreHome ? 2 : 0).map((link) => (
        <li>
          <a
            class="flex h-14 w-14 items-center justify-center rounded-full border-2 border-current p-3"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
