---
import { Icon } from "astro-icon";

import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "/",
    description: "SIGAI Homepage",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/PurdueSIGAI",
    description: "View source on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://discord.gg/vgSh4wYBEf",
    description: "SIGAI Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://www.instagram.com/sigai_purdue/",
    description: "SIGAI on IG",
    icon: "fa-brands:instagram",
  },
  {
    url: "https://www.linkedin.com/groups/14119715/",
    description: "SIGAI LinkedIn group",
    icon: "fa-brands:linkedin",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-5">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
