---
import ContentSection from "~/components/content-section.astro";
---

<div class="glass py-10 sm:py-20 flex flex-col items-center justify-center">
  <h1 class="text-center orbitron text-5xl sm:text-7xl mb-6">EVENTS CALENDAR</h1>
  <div class="flex justify-center items-center w-full">
    <iframe
      src="https://lu.ma/embed/calendar/cal-aOhcnJ1PuLTOK9G/events"
      style="border: 1px solid #bfcbda88; border-radius: 4px;"
      class="w-[70vw] sm:w-[80vw] h-[60vh] sm:h-[75vh]"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </div>
</div>

