---
import ContentSection from "./content-section.astro";
import Spacer from "./Spacer.astro";
import TeamMember from "./team/member.astro";
---

<ContentSection id="mlpurdue" title="ML@Purdue">
  <p>
    ML@Purdue is the central club for AI/ML career growth for Purdue students.
    We support careers in industry, research, and entrepreneurial ventures
    through projects and various events. The club also connects Purdue
    students to AI/ML leaders in and out of Purdue.
  </p>
</ContentSection>

<Spacer y={24} />
<ContentSection id="Executive" title="Executive Branch">
  <div class="flex flex-col gap-y-16 gap-x-24 md:grid md:grid-cols-2">
    <TeamMember
      title="President"
      url="https://www.linkedin.com/in/leo-deng/"
      fullname="Leo Deng"
      major="CS"
      year="Junior"
    >
    </TeamMember>
    <TeamMember
      title="Vice President"
      url="https://www.linkedin.com/in/sameeha-afrulbasha/"
      fullname="Sameeha Afrulbasha"
      major="DS & Applied Stats"
      year="Senior"
    >
    </TeamMember>
    <TeamMember
      title="Vice President of Operations"
      url="https://www.linkedin.com/in/shrung-patel/"
      fullname="Shrung Patel"
      major="CS & AI"
      year="Junior"
    >
    </TeamMember>
    <TeamMember
      title="Vice President of Marketing"
      url="https://www.linkedin.com/in/lavangiyadava/"
      fullname="Lavangi Yadava"
      major="CS & Physics"
      year="Sophomore"
    >
    </TeamMember>
  </div>
</ContentSection>

<Spacer y={96} />

<ContentSection id="operations" title="Operations Branch">
  <div class="flex flex-col l gap-y-16 gap-x-24  md:grid md:grid-cols-2">
    <TeamMember
      title="Head Project Advisor"
      url="https://www.linkedin.com/in/disha-m03/"
      fullname="Disha Maheshwari"
      major="Computer Engineering"
      year="Junior"
    >
    </TeamMember>
    <TeamMember
      title="Head of Reading Group"
      fullname="Alexiy Buynitsky"
      major="CS, Mathematics"
      year="Junior"
    >
    </TeamMember>
  </div>
</ContentSection>

<Spacer y={50} />


