---
import ContentSection from "./content-section.astro";
import Spacer from "./Spacer.astro";
import TeamMember from "./team/member.astro";
---

<br />

<div class="px-5">
  <ContentSection id="mlpurdue" title="ABOUT">
    <div
      class="flex w-screen items-center justify-center border-y-2 border-purple-500 py-10"
    >
      <p class="max-w-[75%] text-center text-sm md:text-base">
        ML@Purdue is the central club for AI/ML career growth for Purdue
        students. We support careers in industry, research, and entrepreneurial
        ventures through projects and various events. The club also connects
        Purdue students to AI/ML leaders in and out of Purdue.
      </p>
    </div>
  </ContentSection>
</div>

<Spacer y={100} />
<ContentSection id="Executive" title="EXECUTIVE BRANCH">
  <div
    class="grid w-screen gap-y-16 gap-x-14 border-y-2 border-purple-500 px-10 py-20 md:grid-cols-2"
  >
    <TeamMember
      title="Co-President"
      url="https://www.linkedin.com/in/arnav-gr0ver/"
      fullname="Arnav Grover"
      major="CS"
      year="Junior"
    />
    <TeamMember
      title="Co-President"
      url="https://www.linkedin.com/in/lavangiyadava/"
      fullname="Lavangi Yadava"
      major="CS"
      year="Junior"
    />
    <TeamMember
      title="Vice Co-President of Marketing"
      url="https://www.linkedin.com/in/bisti-potdar-0a0aa8244/"
      fullname="Bisti Potdar"
      major="CS"
      year="Sophomore"
    />
    <TeamMember
      title="Vice Co-President of Marketing"
      url="https://www.linkedin.com/in/nshriya/"
      fullname="Shriya Nichenametla"
      major="CS & Web-Design"
      year="Sophomore"
    />
    <TeamMember
      title="Head Project Advisor"
      url="https://www.linkedin.com/in/alexandre-sauquet/"
      fullname="Alexandre Sauquet"
      major="CS & AI"
      year="Junior"
    />
    <TeamMember
      title="Vice President of Operations"
      url="https://www.linkedin.com/in/shrung-patel/"
      fullname="Shrung Patel"
      major="CS & AI"
      year="Junior"
    />
    <TeamMember
      title="Vice President of Finance"
      url="https://www.linkedin.com/in/aadipatel5/"
      fullname="Aadi Patel"
      major="Finance"
      year="Senior"
    />
  </div>
</ContentSection>

<Spacer y={96} />

<Spacer y={50} />
