---
import ContentSection from "./content-section.astro";
import Spacer from "./Spacer.astro";
import TeamMember from "./team/member.astro";
---

<ContentSection id="mlpurdue" title="ML@Purdue">
  <p>
    ML@Purdue is the central club for AI/ML career growth for Purdue students.
    We support careers in industry, research, and entrepreneurial ventures
    through projects and various events. The club also serves to connect Purdue
    students to AI/ML leaders in and out of Purdue.
  </p>
</ContentSection>

<Spacer y={24} />
<ContentSection id="Executive" title="Executive Branch">
  <div class="flex flex-col gap-y-16 gap-x-24 md:grid md:grid-cols-2">
    <TeamMember
      title="President"
      url="https://linkedin.com/in/sameeha-afrulbasha/"
      fullname="Sameeha Afrulbasha"
      major="Data Science"
      year="Junior"
    >
    </TeamMember>
    <TeamMember
      title="Vice President of Operations"
      url="https://www.linkedin.com/in/saisravanik/"
      fullname="Saisravani Kuchibhotla"
      major="Computer Science"
      year="Senior"
    >
    </TeamMember>
    <TeamMember
      title="Vice President of Finance"
      url="https://www.linkedin.com/in/leo-deng/"
      fullname="Leo Deng"
      major="Computer Science"
      year="Freshman"
    >
    </TeamMember>
    <TeamMember
      title="Vice President of Marketing"
      url="https://www.linkedin.com/in/lavangiyadava/"
      fullname="Lavangi Yadava"
      major="CS, Physics"
      year="Freshman"
    >
    </TeamMember>
  </div>
</ContentSection>

<Spacer y={96} />

<ContentSection id="Marketing" title="Marketing Branch">
  <div class="flex flex-col gap-y-16 gap-x-24 md:grid md:grid-cols-2">
    
    <TeamMember
      title="Marketing Officer"
      fullname="Aditya Mittal"
      major="Computer Science"
      year="Freshman"
    >
    </TeamMember>

    <TeamMember
      title="Marketing Officer"
      fullname="Yuvraj Jhanwar"
      major="First Year Engineering"
      year="Freshman"
    >
    </TeamMember>
    <TeamMember
      title="Marketing Officer"
      fullname="Pranay Nandkeolyar"
      major="Computer Science"
      year="Freshman"
    >
    </TeamMember>
  </div>
</ContentSection>
<Spacer y={96} />
<ContentSection id="finance" title="Finance Branch">
  <div class="flex flex-col l gap-y-16 gap-x-24  md:grid md:grid-cols-2">
    <TeamMember
      title="Finance Officer"
      fullname="Aadi Patel"
      major="Finance"
      year="Sophomore"
    >
    </TeamMember>
    <TeamMember
      title="Finance Officer"
      fullname="Nishaant Shah"
      major="Finance"
      year="Freshman"
    >
  </div>
</ContentSection>
<Spacer y={96} />
<ContentSection id="operations" title="Operations Branch">
  <div class="flex flex-col l gap-y-16 gap-x-24  md:grid md:grid-cols-2">
    <TeamMember
      title="Head Project Advisor"
      url="https://www.linkedin.com/in/jinensetpal/"
      fullname="Jinen Setpal"
      major="Data Science"
      year="Junior"
    >
    </TeamMember>
    <TeamMember
      title="Project Advisor"
      fullname="Alexiy Buynitsky"
      major="CS, Mathematics"
      year="Sophomore"
    >
    </TeamMember>
    <TeamMember
      title="Operations Officer"
      fullname="Sagar Patil"
      major="Computer Science"
      year="Junior"
    >
    </TeamMember>
    <TeamMember
      title="Operations Officer"
      fullname="Saad Sharief"
      major="Computer Science"
      year="Junior"
    >
    </TeamMember>
    <TeamMember
      title="Operations Officer"
      fullname="Ansh Tandon"
      major="Computer Science"
      year="Freshman"
    >
    </TeamMember>
    <TeamMember
      title="Operations Officer"
      fullname="Shrung Patel"
      major="CS, AI"
      year="Freshman"
    >
    </TeamMember>
    <TeamMember
      title="Operations Officer"
      fullname="Nikhil Chaudary"
      major="Computer Engineering"
      year="Sophomore"  
    >
    </TeamMember>
  </div>
</ContentSection>

<Spacer y={50} />


