---
import ContentSection from "./content-section.astro";
import Spacer from "./Spacer.astro";
import TeamMember from "./team/member.astro";
---

<br />

<div>
  <ContentSection id="mlpurdue" title="ABOUT">
    <div
      class="flex w-screen border-y-[1px] border-purple-500 -mt-6 py-6"
    >
      <p class="max-w-[75%] pl-8 text-sm">
        ML@Purdue is the central club for AI/ML career growth for Purdue
        students. We support careers in industry, research, and entrepreneurial
        ventures through projects and various events. The club also connects
        Purdue students to AI/ML leaders in and out of Purdue.
      </p>
    </div>
  </ContentSection>
</div>

<Spacer y={150} />
<ContentSection id="Executive" title="EXECUTIVE BRANCH">
  <div
    class="grid w-screen gap-y-10 gap-x-6 border-y-[1px] -mt-6 border-purple-500 pl-4 pr-10 py-10 sm:grid-cols-2 lg:grid-cols-3"
  >
    <TeamMember
      title="Co-President"
      url="https://www.linkedin.com/in/arnav-gr0ver/"
      fullname="arnav grover"
      major="CS"
      year="Junior"
    />
    <TeamMember
      title="Co-President"
      url="https://www.linkedin.com/in/lavangiyadava/"
      fullname="lavangi yadava"
      major="CS"
      year="Junior"
    />
    <TeamMember
      title="Vice Co-President of Marketing"
      url="https://www.linkedin.com/in/bisti-potdar-0a0aa8244/"
      fullname="bisti potdar"
      major="CS"
      year="Sophomore"
    />
    <TeamMember
      title="Vice Co-President of Marketing"
      url="https://www.linkedin.com/in/nshriya/"
      fullname="shriya nichenametla"
      major="CS & Web-Design"
      year="Sophomore"
    />
    <TeamMember
      title="Head Project Advisor"
      url="https://www.linkedin.com/in/alexandre-sauquet/"
      fullname="alexandre sauquet"
      major="CS & AI"
      year="Junior"
    />
    <TeamMember
      title="Vice President of Operations"
      url="https://www.linkedin.com/in/shrung-patel/"
      fullname="shrung patel"
      major="CS & AI"
      year="Junior"
    />
    <TeamMember
      title="Vice President of Finance"
      url="https://www.linkedin.com/in/aadipatel5/"
      fullname="aadi patel"
      major="Finance"
      year="Senior"
    />
  </div>
</ContentSection>

<Spacer y={60} />
