---
export interface Props {
  y?: number;
  x?: number;
}
const { x = 0, y = 0 } = Astro.props;
---

<div
  style={`margin-top:${y}px;margin-bottom:${y}px;margin-left:${x}px;margin-right:${x}px`}
>
</div>
