---
import Starfield from "~/components/starfield.astro";
import Footer from "./footer.astro";
const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="image relative h-full bg-black pointer-events-none">
  <Starfield />
  <div class="gradient relative z-20 grid h-full place-items-center">
    <h2
      data-class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <div class="mt-20 mb-2 flex items-center justify-center lg:mb-0">
        <h1 class="orbitron text-center font-bold text-white text-9xl">ML</h1>
        <h2
          class="orbitron -ml-7 mb-6 text-center text-white text-4xl md:-ml-10 md:text-5xl"
        >
          @
        </h2>
        <h1
          class="orbitron ml-3 text-center font-semibold text-white text-7xl sm:ml-5"
        >
          PURDUE
        </h1>
      </div>
      <div class="-mt-24 ml-5 md:ml-20 place-items-center sm:place-items-end pointer-events-auto">
        <Footer ignoreHome={true} />
      </div>
    </h2>
  </div>
</section>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #ml-purdue-logo {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #ml-purdue-logo {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
