---
import Starfield from "~/components/starfield.astro";
import mlPurdueLogo from "~/assets/logo-main.webp";
const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <Starfield />
  <div class="relative grid h-full place-items-center">
    <h2
      data-class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <div class="flex items-center justify-center">
        <img src={mlPurdueLogo.src} alt="Logo" class="h-28 md:h-[10rem]" />
      </div>
      <div class="gradient-text text-center font-extrabold text-8xl">
        ML@Purdue
      </div>
    </h2>
  </div>
</section>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #ml-purdue-logo {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #ml-purdue-logo {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
